body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.text-section {
  display: flex;
  flex-direction: column;
}

.company-name {
  background-color: black;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
}

.tagline {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 2px 5px;
  font-size: 12px;
  margin-top: 0px;
  align-self:self-end;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 30px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.nav-links a i {
  margin-right: 8px;
  font-size: 18px;
}

.nav-links a:hover {
  color: #00bcd4;
}

.contact {
  color: black;
  font-size: 16px;
  text-align: right;
}

.contact a {
  color: red;
  text-decoration:underline;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
}

.contact a i {
  color:black;
  margin-right: 8px;
  font-size: 18px;
}

.contact a:hover {
  color: darkred;
}

.mobile-number {
  color: black;
  font-size: 18px;
  font-weight: bold;
}
